.navbar-brand {
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#first-pag, .jumbotron, .jumbotron-fluid {
    color: white;
    height: fit-content;
    width: 100%;
    background-image: url(https://i.pinimg.com/originals/ea/3f/d3/ea3fd3102ccf575e3c33954f73eab78d.jpg);
    margin: 0px;
    text-align: center; 
}
#second-page {
    text-align: center;
    padding: 50px 20px 25px 20px;
    height: fit-content;
    width: 100%;
    background-color: black;
}
#third-page {
    color: white;
    text-align: center;
    padding: 50px 20px 25px 20px;
    height: fit-content;
    width: 100%;
    background-color: #2E151B;
}
#third-page .card {
    background-color: black;
}
#fourth-page {
    text-align: center;
    padding: 50px 20px 25px 20px;
    height: fit-content;
    width: 100%;
    background-color: black;
}
#last-page {
    color: white;
    background-color: #2E151B;
}